.signin {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title,
  .button_top {
    margin: 20px 0;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .google_logo {
    width: 20px;
    height: 20px;
    background-color: #fff;
    padding: 2px;
    margin: 10px 10px auto auto;
  }
}
