.custom_button {
  min-width: 130px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 13px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }

  &.google_sign_in {
    background-color: #4285f4;
    color: #fff;

    &:hover {
      background-color: #185adb;
      border: none;
    }
  }

  &.inverted {
    background-color: inherit;
    color: #fff;
    border: 1px solid #fff;
  }

  &:hover {
    background-color: #000;
    border: none;
  }
}
