.footer {
<<<<<<< HEAD
  height: 40px;
  padding: 0 36px;
  margin-top: 10px;
=======
  height: 30px;
  padding: 0 36px;
>>>>>>> 1df7f66449e1db729edf53ce66a763e4a6c1bae6

  .footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
  }
}
